<p id="notice"><%= notice %></p>

<p>
  <strong>Meme:</strong>
  <%= @meme.title %>
  <br>
  Meme by: <%= @meme.user.username %>
  <br>
  <%= image_tag @meme.image.url(:medium) %>
</p>


  <%= render @meme.comments %>
  <br>
  
  <%= render 'comments/form' %>

 <br>
<%= link_to 'Back', memes_path %> 


<%= link_to 'Edit', edit_meme_path(@meme) %> |

<% if can? :destroy, @meme %>
<td><%= link_to 'Destroy', @meme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
