<p id="notice"><%= notice %></p>

<p>
  <strong>Meme:</strong>
  <%= @meme.title %>
  <br>
  Meme by: <%= @meme.user.username %>
  <br>
  <%= image_tag @meme.image.url(:medium) %>
</p>

<%= link_to 'Edit', edit_meme_path(@meme) %> |
<%= link_to 'Back', memes_path %>
