
     <% @memes = current_user.memes %>
        <% @memes.each do |meme| %>
       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
       <a class="thumbnail" href="#">
       <%= image_tag meme.image.url(:medium) %>
       </a>
       <td><%= meme.title %></td>
         <td><%= link_to 'Show', meme %></td>
         <td><%= link_to 'Edit', edit_meme_path(meme) %></td>
         <td><%= link_to 'Destroy', meme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </div>
    <% end %>